<div class="wrapper">
  <div class="pagetitle">
    <h2>YUNNAN</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Más allá de los imanes turísticos existe otra China más remota que se encuentra al sudoeste del país, una China desconocida y fascinante que te sorprenderá.
          </p>
          <p>
           Yunnan o las tierras al sur de las nubes –como se conoce a este lugar- trasladarán al viajero a un mundo antiguo y auténtico. Una región situada casi al margen del tiempo.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="chinamap">
        <%= image_tag 'chinamap.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          Conocida como la tierra de la eterna primavera por su clima agradable, Yunnan es un territorio de extraordinaria variedad.
          </p>
          <p>Unas 25 de las 55 minorías étnicas de China están presentes en esta provincia sudoccidental de China. Durante siglos, los comerciantes utilizaron el antiguo caballo y el té que colindaban con Vietnam, Laos y Myanmar hasta las altas llanuras tibetanas del noroeste.
          </p>
          <p>Las personas de innumerables minorías muestran con orgullo su identidad a través de la vestimenta tradicional y las culturas locales.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'costumes.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Las plantaciones de plátano prosperan a lo largo del Río Rojo cerca del nivel del mar en la parte suroriental de la provincia, mientras que los picos majestuosos y cubiertos de nieve de la cadena de montañas de Meili se elevan a más de 6000m hacia los extraordinarios cielos azules cerca de la frontera tibetana en el noroeste.</p>

          <p>Al sur de la moderna y ajetreada capital de Kunming, agricultores del arroz trabajan sus terrazas que han sido como talladas en la montaña de una forma mágica durante siglos.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'terrasses.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Hacia el norte, el antiguo Reino de Nanzhao, asiento real de la población deDali, se reclina a lo largo del extenso lago Erhai, orgullosamente preservado por sus habitantes, la minoría Bai.</p>

          <p>La ruta continúa a través de la muy poco conocida población situada en la Ruta del Té y los Caballos de Sideng en el hermoso valle de Shaxi y de la espléndida ciudad de Lijiang, patrimonio de la Unesco.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'neterhai.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Un poco más al norte, las aguas rojizas del río Yangtze se golpean a través de la espectacular Garganta del Salto del Tigre.
          </p>
          <p>El río y la carretera se dividen por una cadena de montañas y siguen su recorrido norte hacia las brillantes luces de los llanos tibetanos alrededor de Zhongdian (conocida también como Shangri-la), donde los monjes budistas todavía tocan sus cuernos tibetanos o dungchen con sonidos largos y profundos dentro del santuario de la segunda lamasería budista tibetana más grande después de la de Lhasa, Songzanglin.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'nettigerleaping.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Para el recién llegado a China, Yunnan presenta un espectáculo totalmente inesperado de una gran diversidad cultural y color.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
