<div class="wrapper">
  <div class="pagetitle">
    <h2>YUNNAN</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>“Allá por el siglo VIII, un emperador chino Han de la corte de los Tang apodó a las tierras situadas al sur de la lluviosa región de Sichuan, Yun Nan (“Sur de las Nubes”).
          </p>
          <p>
           Conocida por ser la región de la Eterna Primavera gracias a su agradable clima y durante muchos siglos centrada en la población de Dali, la antigua capital del reino de Nanzhao, Yunnan entró a formar parte de China cuando el invasor mongol, Khublai Khan, se extendió a través de la provincia en el siglo XIII.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="chinamap">
        <%= image_tag 'chinamap.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          El premio fue un territorio de una variedad extraordinaria. De las 55 minorías étnicas que viven en China, 25 de ellas están presentes en esta provincia del sudoeste de 394.000 kilómetros cuadrados, no mucho más pequeña que España.
          </p>
          <p>
          Durante siglos, los comerciantes recorrieron la antigua caravana del té y los caballos a través de la región que se extiende desde la frontera tropical que limita con Vietnam, Laos y Birmania (donde su gente de minorías innumerables exhibe orgullosa su identidad con vestidos tradicionales y culturas locales) a las altas llanuras tibetanas del noroeste.
          </p>
          <p>
          Las plantaciones de plátano prosperan a lo largo del Río Rojo cerca del nivel del mar en la parte suroriental de la provincia, mientras que los picos majestuosos y cubiertos de nieve de la cadena de montañas de Meili se elevan a más de 6000m hacia los extraordinarios cielos azules cerca de la frontera tibetana en el noroeste.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'costumes.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Al sur de la moderna y ajetreada capital de Kunming, agricultores del arroz trabajan sus terrazas que han sido como talladas en la montaña de una forma mágica durante siglos.</p>

          <p>
          Hacia el norte, el antiguo Reino de Nanzhao, asiento real de la población de Dali, se reclina a lo largo del extenso lago Erhai, orgullosamente preservado por sus habitantes, la minoría Bai.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'terrasses.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          La ruta continúa a través de la muy poco conocida población situada en la Ruta del Té y los Caballos de Sideng en el hermoso valle de Shaxi y de la espléndida ciudad de Lijiang, patrimonio de la Unesco.
          </p>

          <p>
          Un poco más al norte, las aguas rojizas del río Yangtzé se golpean a través de la espectacular Garganta del Salto del Tigre.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'neterhai.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>El río y la carretera se dividen por una cadena de montañas y siguen su recorrido norte hacia las brillantes luces de los llanos tibetanos alrededor de Zhongdian (conocida también como Shangri-la), donde los monjes budistas todavía tocan sus cuernos tibetanos o dungchen con sonidos largos y profundos dentro del santuario de la segunda lamasería budista tibetana más grande después de la de Lhasa, Songzanglin.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'nettigerleaping.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Para el recién llegado a China, Yunnan presenta un espectáculo totalmente inesperado de una gran diversidad cultural y color.”
          </p>
          <p>
          Damien Simonis,
          escritor de Lonely Planet para Yunnan Viajes

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
