<div class="footstyle">
  <p>
    Copyright &copy; <%= Time.current.year %> Yunnan Viajes. All rights reserved.
  </p>
  <p>
  <%= link_to "HOME", root_path %> |

  <%= link_to "YUNNAN", yunnan_path %> |
  <%= link_to "NUESTRO TOURS", our_tours_path %> |
  <%= link_to "QUIENES SOMOS", about_path %> |
  <%= link_to "CONTACTO", contact_path %>
  </p>
</div>
<div class="footstyle">
</div>

