<div class="footstyle">
  <p>
    Copyright &copy; <%= Time.current.year %> Yunnan Viajes. All rights reserved.
  </p>
  <p>
  <%= link_to "HOME", root_path %> |

  <%= link_to "YUNNAN", yunnan_es_path %> |
  <%= link_to "NUESTRO TOURS", nuestro_tours_path %> |
  <%= link_to "QUIENES SOMOS", quien_somos_path %> |
  <%= link_to "CONTACTO", contacto_path %>
  </p>
</div>
<div class="footstyle">
</div>

