<div class="footstyle">
  <p>
    Copyright &copy; <%= Time.current.year %> Yunnan Viajes. Tous droits réservés.
  </p>
  <p>
  <%= link_to "ACCUEIL", root_path %> |

  <%= link_to "YUNNAN", yunnan_path %> |
  <%= link_to "NOS TOURS", our_tours_path %> |
  <%= link_to "À PROPOS", about_path %> |
  <%= link_to "CONTACT", contact_path %>
  </p>
</div>
<div class="footstyle">
</div>

