<div class="footstyle">
  <p>
    Copyright &copy; <%= Time.current.year %> Yunnan Viajes. Tous droits réservés.
  </p>
  <p>
  <%= link_to "ACCUEIL", accueil_path %> |

  <%= link_to "YUNNAN", yunnan_fr_path %> |
  <%= link_to "NOS TOURS", circuits_path %> |
  <%= link_to "À PROPOS", a_propos_path %> |
  <%= link_to "CONTACT", contact_fr_path %>
  </p>
</div>
<div class="footstyle">
</div>

