<div class="wrapper">
  <div class="banner">
      <h3>YUNNAN VIAJES</h3>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "HOME", home_path, class: "nav-link" %>
          <!-- <a class="nav-link" href="#">HOME</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">YUNNAN</a> -->
          <%= link_to "YUNNAN", yunnan_spanish_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "NUESTRO TOURS", our_tours_spanish_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">QUIENES SOMOS</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">CONTACTO</a> -->
          <%= link_to "CONTACTO", contacto_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagetitle">
    <h2>QUIENES SOMOS</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'quienes1.jpg', class: "img-fluid", style: "margin-bottom: 80px;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
           Conoce al equipo de Yunnan Viajes ! </p>
           <p> Edith, una catalana de de Barcelona que vive en esta región y Ding Bo nacido en Kunming, capital de Yunnan, y Yunnan Panda International, tour operador local que cuenta con más de quince años de experiencia en el sector.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'edith.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          Edith reside en Kunming, capital de Yunnan, desde 2003. En el año 2009 empezo a colaborar estrechamente con Yunnan Panda International, ofreciéndoles la “mentalidad occidental” en la organización de los viajes, confeccionando personalmente los itinerarios, supervisando todos los servicios y acompañando, siempre que puede, a los grupos, ya que para ella quizás los más bonito de todo ésto es enseñar a los viajeros este tesoro que es Yunnan y que le ha robado parte del alma. Edith habla perfectamente chino, además de inglés y francés.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'dingbo.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Ding Bo, nacido en Yunnan, de madre Han y de padre Hui, una mezcla que hace de el una persona muy abierta y simpatica. Con mas de 8 años de experiencia con el mercado español, se ocupa de la parte de Operaciones. Se declara un enamorado de esta provincia y de su cultura tan variada, etnica y unica. Disfruta dandola a conocer a todos nuestros clientes y amigos extranjeros.
          </p>
          <p>
          Los dos coinciden en que Yunnan es la mejor zona para que un occidental se acerque a China, ya que hacerlo solamente a través de las grandes ciudades a veces decepciona porque no se encuentra la esencia. El único peligro que existe ante tanto paisaje sublime es resistirse a emprender el viaje de regreso y ésto es justamente lo que les ha pasado a ellos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
