<div class="wrapper">
  <div class="banner">
      <h3>YUNNAN VIAJES</h3>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "HOME", root_path, class: "nav-link" %>
          <!-- <a class="nav-link" href="#">HOME</a> -->
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">YUNNAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OUR TOURS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagetitle">
    <h2>YUNNAN</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Away from the tourist hotspots there is another China , an untouched and fascinating province that will take you by surprise.
          </p>
          <p>
           Yunnan, "the Land to the South of the Clouds" will sweep the traveller away to an ancient and authentic world, a region located almost on the edge of time.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="chinamap">
        <%= image_tag 'chinamap.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          Known as the land of eternal spring for its pleasant climate, Yunnan is a territory of extraordinary variety. Some 25 of China's 55 ethnic minorities are present in this southwest province of China. For centuries, merchants plied the ancient Horse and Tea Route through a country that extends from the tropical border country abutting Vietnam, Laos and Myanmar to the high Tibetan plains of the northwest. People of myriad minorities proudly display their identity through traditional dress and local cultures.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'costumes.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Banana plantations thrive along the Upper Red River close to sea level in the province's southeast, while the majestic peaks of the Meiji Snow Mountain chain soar more
          than 6000m into the startling blue skies near the Tibetan border in the northwest.</p>

          <p>South of the busy modern capital of Kunming, rice farmers work magically carved mountain terraces as they have down for centuries.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'terrasses.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>To the north, the former Nanzhao kingdom's royal seat of Dali, resting by the vast Erhai Lake, is preserved proudly by its Bai minority inhabitants.</p>

          <p>The route north passes through the little known Tea Route town of Sideng in the pretty Shaxi valley and on to the splendid Unesco World heritage town of Lijiang.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'neterhai.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Further north still, the sandy-coloured waters of the Yangtze River pound through the dramatic Tiger Leaping Gorge. The river and road split around a mountain chain
          on their northward progress to the brightly lit Tibetan plains around Zhong Dian (also known as Shangri-La), where Buddhist monks still sound deep mournful bass horns
          within the sanctuary of the second greatest Tibetan Buddhist lamasery after that of Lhasa, Sonzanlin.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'nettigerleaping.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>To the newcomer in China, Yunnan presents an unexpectedly rich spectacle of cultural diversity and colour.</p>
        </div>
      </div>
    </div>
  </div>
</div>
