<div class="wrapper">
  <div class="pagetitle">
    <h2>CIRCUITS</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Nos circuits sont exclusifs, le fruit de plus de 10 ans d'expérience dans le Yunnan.</br>
          Nous pouvons vous proposer des tours de quelques jours à plusieurs semaines, clés en main ou sur-mesure !</p>
          <p>Voici quelques exemples de ce que vous pouvez vivre avec nous dans le Yunnan :
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="cards">
          <div class="card card-weishan" id="weishan">
            WEISHAN
          </div>
          <div class="card card-yuanyang" id="yuanyang">
            YUANYANG
          </div>
          <div class="card card-jianshui" id="jianshui">
            JIANSHUI
          </div>
          <div class="cardtext description destination" id="weishan_description" style="display:none;">
            <h3>WEISHAN</h3>
            <p>
            La montagne Weibaoshan serait l'une des quatorze montagnes taoïstes les plus importantes du pays.
            L'ancienne ville de Weishan, qui abrite les minorités ethniques Yi et Hui, a été construite il y a plus de 600 ans sous la dynastie Ming.
            </p>
            <%= image_tag('weishan2.JPG', style: 'width: 200px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px') %>
          </div>
          <div class="cardtext description destination" id="yuanyang_description" style="display: none;">
            <h3>YUANYANG</h3>
            <p>
            Dans cette petite communauté, où vivent les minorités Yi et Hani, vous trouverez les rizières en terrasses les plus spectaculaires du monde.
            </p>
            <p>En hiver et au printemps, les terrasses se transforment en miroirs dont la beauté émerveille les visiteurs. Au cours de ces saisons, des milliers de photographes descendent du monde entier pour capturer la beauté de la région.
            </p>
            <%= image_tag('yuanyang2.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px') %>
          </div>
          <div class="cardtext description destination" id="jianshui_description" style="display:none;">
            <h3>JIANSHUI</h3>
            <p>
            Les voyageurs empruntant la Route de la Soie passaient par cette ancienne ville, en route vers le Vietnam. Elle est devenue un centre politique et militaire actif au XIIIe siècle.
            </p>
            <p>
            Aujourd'hui, cette petite ville est un véritable musée de l'architecture ancienne, avec son quartier musulman, ses maisons traditionnelles et sa mosquée, ses différents monastères bouddhistes, son magnifique temple de Confucius («Wenmiao», temple de la littérature) et le deuxième plus grand temple de Chine, construit à l'époque mongole (1285).
            </p>
            <p>
            La maison de la famille Zhu est un excellent exemple de maison traditionnelle chinoise avec ses patios et jardins intérieurs, ses kiosques et ses galeries couvertes.
            </p>
          </div>
          <div class="card card-tiger" id="tigerleapinggorge">
            GORGES DU SAUT DU TIGRE
          </div>
          <div class="card card-dali" id="dali">
            DALI
          </div>
          <div class="card card-shaxi" id="shaxi">
            SHAXI
          </div>
          <div class="cardtext description destination" id="tigerleapinggorge_description" style="display:none;">
            <h3>GORGES DU SAUT DU TIGRE</h3>
            <p>
            À environ 60 km de Lijiang, les eaux du fleuve Yangtze ont créé l'une des gorges les plus profondes du monde. Elle s'étend sur 15 km et, à certains endroits, à une profondeur de 3 900 m. L'une des excursions les plus spectaculaires du Yunnan est la randonnée le long de cette gorge.
            </p>
            <p>En chemin, il y a un plusieurs villages appartenant à la minorité Naxi où les visiteurs peuvent trouver un logement et de quoi se sustenter.
            </p>
          <%= image_tag('tiger.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
            <p>Le nom de la gorge, Hutiao Xia en chinois, provient d'une ancienne légende selon laquelle un tigre fuyan un chasseur  traversait la région en sautant d'un côté à l'autre du ravin.
            </p>
            <p>La route emmène le visiteur le long de la montagne Haba Shan, offrant des vues spectaculaires de la montagne du dragon de jade en face.
            </p>
          </div>
          <div class="cardtext description destination" id="dali_description" style="display:none;">
            <h3>DALI</h3>
            <p>
            Dali est à 400 km à l'ouest de Kunming, dans un cadre naturel exceptionnel, entre les majestueuses montagnes de Cangshan et le lac Erhai. La ville est principalement peuplée par la minorité Bai qui s'est établie ici il y a 3000 ans.
            </p>
          <%= image_tag('dali2.JPG', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
            <p>La ville a conservé son architecture traditionnelle Bai et est entourée de murs datant de la dynastie Ming. Elle a une histoire riche, car pendant des siècles, elle a été la ville la plus importante de la province du Yunnan et la capitale du royaume de Nanzhao qui, en 247 ans, a été gouvernée par une succession de 13 rois.
            </p>
            <p>
            Dali était également un royaume musulman au 19e siècle et est aujourd'hui l'une des destinations touristiques les plus intéressantes du sud-ouest de la Chine.
            </p>
          <%= image_tag('dali.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px') %>
          </div>
          <div class="cardtext description destination" id="shaxi_description" style="display:none;">
            <h3>SHAXI</h3>
            <p>
            Shaxi était un important centre commercial sur la Route de la Soie du Sud pendant les dynasties Qing et Han.
            </p>
            <p>À l'époque de la dynastie Tang, la ville de Shaxi était déjà un important centre de communication entre la province chinoise du Sichuan, du Yunnan et du Tibet. C'est à Shaxi que le thé, la cassonade, les tissus du Yunnan et du Sichuan, le cuir et d'autres produits de la région tibétaine étaient achetés et vendus.
            </p>
        <%= image_tag('shaxi.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
            <p>Bien que cette route ne soit plus utilisée, la communauté Shaxi a préservé les rues pavées et les maisons traditionnelles comme il y a mille ans. Les différentes minorités qui vivent dans les villages de montagne environnants se retrouvent au marché de Sideng qui a lieu tous les vendredi à Shaxi.
            </p>
          </div>
          <div class="card card-lijiang" id="lijiang">
            LIJIANG
          </div>
          <div class="card card-shangrila" id="shangrila">
            SHANGRI-LA
          </div>
          <div class="card card-shilin" id="shilin">
            SHILIN
          </div>
          <div class="cardtext description destination" id="lijiang_description" style="display:none;">
            <h3>LIJIANG</h3>
            <p>
            Située à 600 km à l'ouest de Kunming, l'ancienne ville de Lijiang a préservé intacte l'intégralité de la vieille ville, formée de rues étroites et pierreuses, de maisons traditionnelles centenaires et de petits canaux où coule l'eau glacée de la montagne du dragon de jade (5550 m) Cette montagne, avec ses neiges éternelles, sert de symbole à la minorité Naxi qui vit à Lijiang.
          </p>
        <%= image_tag('netlijiang.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
          <p>La minorité Naxi est issue des nomades tibétains et est adepte de la religion Dongba, qui est une religion chamanique-animiste. Lijiang a été déclaré site du patrimoine mondial par l'UNESCO en 1999.
          </p>
          </div>
          <div class="cardtext description destination" id="shangrila_description" style="display:none;">
            <h3>SHANGRI-LA</h3>
          <p>
          Cet endroit marque le début du monde tibétain. En fait, bien que Zhongdian soit le nom chinois de la ville, ses habitants, qui sont principalement tibétains, l'appellent Gyelthang.
          </p>
          <p>Depuis quelques années la ville porte aussi le nom de Shangri-La, d'après le roman de James Hilton "Lost Horizon" : une terre où règne la paix et la sérénité.
          </p>
        <%= image_tag('netshangrila.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
          <p>Les habitants de cette région sont de la minorité (tibétaine) Zang, et leur mode de vie est caractéristique des hauts plateaux tibétains. Ils suivent la religion bouddhiste tantrique et sont principalement éleveurs de yacks.
          </p>
          <p>Le monastère de Songzanglin se trouve également à Zhongdian. Fondé il y a 300 ans, ce monastère tibétain est le plus important du sud-est de la Chine et abrite plus de 600 moines. C'est un merveilleux exemple de la façon dont l'architecture tibétaine est en harmonie avec son environnement, et pour ceux qui n'ont pas visité le Tibet, c'est une excellente introduction au mode de vie bouddhiste tibétain.
          </p>
          <p>A quelques heures de Zhongdian se trouve la montagne Mei Li ou Kawakarpo. Situé à la frontière entre la province du Yunnan et le Tibet, il possède trois sommets de plus de 6000 m de haut, le plus grand, Kawagebo Peak, se situe à une altitude de 6740 m. Il reste un «pic vierge» car jusqu'à présent personne n'a réussi à atteindre son sommet.
          </p>
       <%= image_tag('shangrila2.jpg', style: 'width: 400px; display:block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 50px') %>
          <p>Cette montagne est l'une des montagnes sacrées du bouddhisme tibétain et chaque année, au début de l'été, des milliers de pèlerins dévoués arrivent du Tibet et des provinces chinoises du Qinghai, du Sichuan et du Gansu.
          </p>
          <p>À mi-chemin vers le sommet, à une altitude de 2600 m, se trouve le glacier Mingyong qui mesure 4 km de long et entre 30 et 80 m de large. De loin, le glacier ressemble à un énorme serpent blanc sur la verdure de la montagne.
          </p>
          </div>
          <div class="cardtext description destination" id="shilin_description" style="display:none;">
            <h3>SHILIN</h3>
          <p>
          Récemment inscrite sur la liste des sites du patrimoine mondial de l'UNESCO, Shilin est située à 90 km de Kunming. La «forêt de pierre» est l'un des exemples les plus spectaculaires de formations karstiques et est considéré comme un phénomène naturel extraordinaire et une référence géologique mondiale.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function showParagraph(e) {
    console.log(e);
    console.log(e.toElement.id);
    // hides the description of the card previously shown
    const descOther = document.querySelectorAll(".description");
    console.log(descOther);
    descOther.forEach(d => d.style.display = "none");
    // displays description text of card clicked
    const description = document.getElementById(`${e.toElement.id}_description`);
    if(description.style.display === "none") {
      description.style.display = "block"
    } else {
      description.style.display = "none";
    }
  }

  const card = document.querySelectorAll('.card');
  card.forEach(c => c.addEventListener('click', event => showParagraph(event)));

</script>
