<div class="wrapper">
  <div class="pagetitle">
    <h2>LE YUNNAN</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="pagecontent">
          <p>Loin des sites touristiques, il y a une autre Chine, dans une province pleine de surprises, intacte et fascinante.
          </p>
          <p>
           Le Yunnan, «la terre au sud des nuages» emmène le voyageur dans un monde ancien et authentique, une région située à la limite du temps.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="chinamap">
        <%= image_tag 'chinamap.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          Connu comme la terre du printemps éternel pour son climat agréable, le Yunnan est un territoire d'une variété extraordinaire.
          </p>
          <p>Environ 25 des 55 minorités ethniques chinoises sont présentes dans cette province du sud-ouest de la Chine. Pendant des siècles, les commerçants y ont parcouru l'ancienne route du thé, à travers un pays qui s'étend de la frontière du Vietnam, du Laos et du Myanmar, jusqu'aux hautes plaines tibétaines au nord-ouest.
          </p>
          <p>Ces peuples affichent fièrement leur identité à travers leurs coutumes et leurs vêtements traditionnels.
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'costumes.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Les plantations de bananes prospèrent le long de la rivière Lancang près du niveau de la mer dans le sud-est de la province, tandis que les sommets majestueux de la chaîne de montagnes Meili s'élèvent à plus de 6000m près de la frontière tibétaine dans le nord-ouest.</p>

          <p>Au sud de Kunming, capitale animée de cette province, les riziculteurs travaillent sur des terrasses montagneuses sculptées depuis des siècles.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'terrasses.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Au nord, reposant au bord du lac Erhai, Dali est l'ancienne capitale du royaume de Nanzhao. La ville est préservée avec fierté par ses habitants qui appartiennent à la minorité Bai.</p>

          <p>La route vers le nord passe par une ville peu connue de la Route du Thé, Sideng, et dans la jolie vallée de Shaxi jusqu'à la magnifique ville de Lijiang classée au patrimoine mondial de l'Unesco.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'neterhai.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Plus au nord encore, les eaux sablonneuses du fleuve Yangtze traversent les spectaculaires Gorges du Saut du Tigre.
          </p>
          <p>Plus au nord, la rivière et la route se divisent autour d'une chaîne de montagnes, qui s'étend vers les plaines tibétaines autour de Zhong Dian (également connu sous le nom de Shangri-La). Là les moines bouddhistes continuent de sonner leurs cornes aux sonorités profondes dans le sanctuaire de la deuxième plus grande lamaserie bouddhiste tibétaine après celle de Lhassa, Sonzanlin.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= image_tag 'nettigerleaping.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Pour le nouveau venu en Chine, le Yunnan présente un spectacle d'une richesse et d'une diversité culturelles inattendues.</p>
        </div>
      </div>
    </div>
  </div>
</div>
