<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yunnan Viajes</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if controller_name == 'spanish' %>
      <% if current_page?(root_path) %>
        <%= yield %>
      <% else %>
        <div class="banner">
          <h3>YUNNAN VIAJES</h3>
        </div>
        <%= render 'shared/navbar-es' %>
        <%= yield %>
      <% end %>
      <%= render 'shared/footer-es' %>
    <% elsif  controller_name == 'french'%>
      <% if current_page?(accueil_path) %>
        <%= yield %>
      <% else %>
        <div class="banner">
          <h3>YUNNAN VIAJES</h3>
        </div>
        <%= render 'shared/navbar-fr' %>
        <%= yield %>
      <% end %>
      <%= render 'shared/footer-fr' %>
    <% elsif controller_name == 'pages' %>
      <% if current_page?(home_en_path) %>
        <%= yield %>
      <% else %>
        <div class="banner">
          <h3>YUNNAN VIAJES</h3>
        </div>
        <%= render 'shared/navbar' %>
        <%= yield %>
      <% end %>
      <%= render 'shared/footer' %>
    <% end %>


      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
  </body>
</html>
